
.projectAreaContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-left: 30px; */
}

@keyframes fadeInCard {
	0% {
        transform: scale(1.05);
        opacity: 0;
	}
	100% {
        transform: scale(1);
        opacity: 100%;
	}
}

@keyframes animateTileUp {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(.9);
        filter: blur(12px); -webkit-filter: blur(12px);
    }
    50% {
        transform: scale(.9) translateY(-1050px);
        opacity: 0;
    }
    51% {
        transform: scale(.9) translateY(+1050px);
        opacity: 0;
    }
    70% {
        opacity: 30%;
        filter: blur(12px); -webkit-filter: blur(12px);
        transform: scale(.9) translateY(0px);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
        filter: blur(0px); -webkit-filter: blur(0px);
    }
}

@keyframes animateTileDown {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(.9);
        filter: blur(12px); -webkit-filter: blur(12px);
    }
    50% {
        transform: scale(.9) translateY(+1050px);
        opacity: 0;
    }
    51% {
        transform: scale(.9) translateY(-1050px);
        opacity: 0;
    }
    70% {
        opacity: 30%;
        filter: blur(12px); -webkit-filter: blur(12px);
        transform: scale(.9) translateY(0px);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
        filter: blur(0px); -webkit-filter: blur(0px);
    }
}

.projectArea {
    background-color: #131315;
    height: 580px;
    margin-left: 57px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    width: 92.5%;
    opacity: 100%;
    transition-timing-function: ease;

    /* Animation */
    animation-duration: 1s;
    animation-name: fadeInCard;
    animation-timing-function: ease;
    /* animation-delay: .5s; */
    /* animation-fill-mode: both; */
}

.projectAreaNoAnimation {
    animation-name: none;
}

.projectAreaTileUp {
    animation-name: animateTileUp;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.projectAreaTileDown {
    animation-name: animateTileDown;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.projectAreaMain {
    transition: .3s;
}

.projectImageArea {
    height: 70%;
    width: 100%;
    background-color: #131315;
    background-position: top;
    object-fit: cover;
    overflow: hidden;
}

.projectImage {
    max-width: 100%;
    display: block;
}

.projectDetailsArea {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.projectDetailsAreaLeft {

}

.projectDetailsAreaRight {
    height: 100%;
}

.projectDetailGithubBtn {
    width: 115px;
    /* background-color: #eee; */
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    /* justify-content: center; */
    text-decoration: none;
    transition: .2s;
}

.projectDetailGithubBtn:hover {
    background-color: #19191c;
    cursor: pointer;
}

.projectDetailGithubBtnText {
    color: white;
    font-family: 'WhitneySemiBold';
    font-size: 15px;
    margin-left: 10px;
    margin: 0;
    margin-bottom: 2px;
    margin-left: 12px;
}

.projectName {
    margin: 0;
    color: white;
    font-family: 'WhitneySemiBold';
    font-size: 30px;
}

.projectAbout {
    color: white;
    font-family: 'WhitneyRegular';
}

.projectTechUsed {
    color: white;
    font-family: 'WhitneySemiBold';
}

.projectTechUsedList {
    color: white;
    font-family: 'WhitneyRegular';
    margin-left: 7px;
}

/* .navBtn {
    height: 35px;
    width: 150px;
    background-color: #24242f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    z-index: 1000;
} */

.navBtn {
    height: 35px;
    width: 150px;
    background-color: #24242f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    z-index: 1000;
}

.navBtn:hover {
    /* background-color: #21212a; */
    background-color: #292936;
    transform: scale(1.085);
}

.navBtnIconRotate {
    transform: rotate(180deg);
}

.heading {
    position: absolute;
    font-size: 45px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: 'WhitneyBold';
    color: #8c8cb0;
    z-index: -100;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #737373;
    border-bottom-color: #d4d4d4;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}

@media (max-width: 992px) {
    .projectArea {
        margin-left: 0;
        width: 82%;
        height: 375px;
        margin-right: 0;
    }

    .projectDetailsArea {
        flex-direction: column;
        align-items: flex-start;
    }

    .projectDetailsAreaRight {
        display: flex;
        flex-direction: row;
    }

    .projectDetailGithubBtn {
        padding: 10px 0;
        width: auto;
        margin-right: 25px;
    }

    .projectImageArea {
        height: 180px;
    }

    .projectImage {
        max-width: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .projectName {
        font-size: 20px;
    }

    .projectAbout {
        font-size: 13px;
    }

    .projectTechUsed {
        font-size: 15px;
    }

    .projectDetailGithubBtnText {
        font-size: 15px;
    }

    .projectAreaContainer {
        margin-bottom: 30px;
    }
}